<div class="main-content">
  <div class="uk-section">
    <div class="uk-container uk-container-large">
      <h1 class="uk-text-center">Welcome to the OS.js Web Store</h1>
      <h5 class="uk-text-center">Discover, install, and create OS.js Applications</h5>
    </div>
  </div>

  <div class="uk-grid-small uk-child-width-1-2@s uk-flex-center uk-text-center" uk-grid>
    <div class="uk-section">
      <form>
        <fieldset class="uk-fieldset uk-child-width-1-2@s">
          <div class="uk-inline">
            <a class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: link"><i class="material-icons">arrow_right</i></a>
            <input class="uk-input" type="text" placeholder="Search">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>