<div ng-controller="AppSearchController as searchCtrl">
  <div class="uk-grid-small uk-child-width-1-2@s uk-flex-center uk-text-center" uk-grid>
    <div class="uk-section">
      <form>
        <fieldset class="uk-fieldset uk-child-width-1-2@s">
          <div class="uk-inline">
            <input ng-model="searchCtrl.search" class="uk-input" type="text" placeholder="Search">
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div ng-show="searchCtrl.search" class="uk-child-width-1-5@s uk-flex-center" uk-grid>
    <div ng-repeat="pkg in searchCtrl.packages | filter:{name: searchCtrl.search}">
      <div class=" uk-card uk-card-default uk-animation-fade uk-animation-fast uk-card-body ">
        <div class="uk-text-center "><img class="uk-preserve-width " width="40 " src="/img/osjs-icon.png " /></div>
        <p class="uk-text-center uk-text-middle ">{{pkg.name}}</p>
      </div>
    </div>
  </div>
</div>
